.about{
  background-color: blanchedalmond;
}


.container__card{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly ;
  align-items: center ;
  padding: 40px 10px;
  width: -webkit-fill-available;
  margin-bottom: 28px;

}

.card{
  display: flex;
  flex-direction: column;
  margin: 40px 10px 0px 10px;
  padding: 50px 20px 0px 20px;
  width: 350px;
  height: 260px;
  border: 2px solid gray;
  border-radius: 10px;
  justify-content: space-evenly;
  box-shadow: 0px 0px 10px #8080808c;
}

.card__visuals{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 200px;
  margin-bottom: 20px;
}

.visuals__title{
  font-family: 'Cairo', sans-serif;
  font-size: 20px ;
}

.visuals__image{
  width: 70px;
}

.card__buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button__product-detail{
    background-color: rgba(114, 160, 230, 0.9);
    border-color: transparent;
    color: black;
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 5px;
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 7px;
    margin-bottom: 10px;

}

.button__product-detail:hover{
  transition: 0.6s;
  background-color: gainsboro;
}

.button__product-detail:active{
  transition: 0.2s;
  background-color: #3483fa;
}
